{% extends "base.html" %} 
{% load staticfiles %}

{% block app_active %}class="active"{% endblock %}

{% block base_custom_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}" > 
{% endblock %}

{% block base_content %}

<!--div class="container"-->
<center>
    <div class="panel panel-primary" style="max-width: 1100px">
        <div class="panel-heading"><h3>WalkSafr App</h3></div>
        <div class="panel-body" >
            
            {% block app_form_html %}(no content){% endblock %}
        </div>
    </div>
</center>
<!--/div-->

{% endblock %}
